* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body,
button,
input,
select,
textarea {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* UTILITY: Hide Scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.card-add-btn {
  transition: all 0.2s ease;
}

.card-add-btn:hover {
  transform: scale(1.1);
  border-color: #cbd5e1 !important;
  background: #f8fafc !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-enter {
  animation: slideInRight 0.3s ease-out;
}

.animate-leave {
  animation: slideOutRight 0.3s ease-in;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}